.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-animation{
  animation:imgAnimation 1.25s infinite;
}
@keyframes imgAnimation{
  0% { -webkit-filter: blur(0px);}
  50% { -webkit-filter: blur(5px);}
  100% { -webkit-filter: blur(0px);}
}




.about{
  transition: 2000ms;
}

.about:hover{
  background:url('/public/logo.png');
 
  background-color: #8AAE92;
  transition: 1000ms;
}